:root {
    --item-circle-radius: 45px;
    --unselected-label-color: #ADADAD;
    --unselected-circle-index-color: #9C9C9C;
    --gap: 200px;
}

.stepItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
  
.stepItem:not(:first-child)::before {
    position: absolute;
    content: "";
    border-bottom: 5px solid transparent;
    border-radius: 40px;
    width: calc(var(--gap) - 30px);
    top: 20px;
    right: calc(var(--item-circle-radius) + 15px);
    z-index: 2;
}
.stepItem:not(:last-child)::after {
    position: absolute;
    content: "";
    border-bottom: 5px solid var(--unselected-color);
    border-radius: 40px;
    width: 0;
    top: 20px;
    left: calc(var(--item-circle-radius) + 15px);
    z-index: 1;
}

.stepItem.activeStep:not(:first-child)::before {
    border-bottom: 5px solid var(--page-color);
    width: calc(var(--gap) - 30px);
    animation: lineColerBetween .34s forwards ease-in;
}

.stepItem > .stepCircle {
    width: var(--item-circle-radius);
    height: var(--item-circle-radius);
    border: 2px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--unselected-circle-index-color);
    background-color: var(--unselected-color);
    margin-bottom: 10px;
}

.stepItem > .stepLabel {
    display: flex;
    width: 100%;
    color: var(--unselected-label-color);
}

.activeStep .stepCircle {
    background-color: var(--page-color);
    color: rgb(255,255,255);

    animation: circleColor 0.15s forwards ease-out;
}

.stepItem.activeStep > .stepLabel {
    color: rgb(0,0,0);
}

@keyframes circleColor {
    from {
        color: var(--unselected-circle-index-color);
        background-color: var(--unselected-color);
    }

    to {
        background-color: var(--page-color);
        color: rgb(255,255,255);
    }
}

@keyframes lineColerBetween {
    0% {
        border-bottom: 5px solid var(--unselected-color);
        transform: translateX(-100%);
        opacity: 0;
    }
    
    70% {
        transform: translateX(0);
        opacity: .2;
    }

    to{
        border-bottom: 5px solid var(--page-color);
        opacity: 1;
    }
}